*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bd2 {
justify-content: center;
align-items: center;

min-height: 100vh;
background: #161623;
}
.td{
    margin-top: 110px;
left: 250px;
    position: relative;
   display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;


}
.td .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    background: rgba( 255,255,255,255,0.1);
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
   border-top:1px solid rgba(255, 255, 255, 0.5);
   border-left:1px solid rgba(255, 255, 255, 0.5);
}
.td .card .efeito {
padding: 20px;
text-align: center;
opacity: 0;
transform: translateY(100px);
transition: 0.5s;
}
 .td .card :hover.efeito { 
    transform: translateY(0px);
    opacity: 1;
}
nav {
    text-align: center;
    margin-top: 50px;
}
nav a {
text-decoration: none;
color: #fff;
padding: 0px 50px 10px 0;
font-size: 20pt;
position: relative;

}
nav a::after {
    content:" ";
    width: 0%;
    height: 4px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}
nav a:hover::after {
    width: 100%;
}
li {
 color: white;
}
h1 {
    color: rgba(211, 10, 10, 0.356);
}