*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: #fff;
    margin-top: 150px;
}
span {
    color: red;
}
form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
form input {
    width: 100%;
background-color: #242424;
border: 0;
outline: 0;
border-radius: 15px;
padding: 18px;
color: #fff;
font-size: 18px;

}
body {
    background-color: black;
}
nav {
    text-align: center;
    margin-top: 50px;
}
nav a {
text-decoration: none;
color: #fff;
padding: 0px 50px 10px 0;
font-size: 20pt;
position: relative;

}
nav a::after {
    content:" ";
    width: 0%;
    height: 4px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;

}
nav a:hover::after {
    width: 100%;
}
